.footer {
    background: #000000;
    padding: 38px 0 47px;

    &__title {
        margin-bottom: 8px;
        text-align: center;
        @include text-style-700;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FEFEFE;
    }

    &__text {
        margin: 0 35px 26px;
        @include text-style-400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #B9B9B9;
    }

    &__list--social {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    &__item {
        width: 34px;
        margin: 0 3px;
    }

    &__address {
        @include text-style-400;
        letter-spacing: 1.2px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #B9B9B9;
    }
}