.container {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1200px;

}

.hamburger-menu {
    width: 100%;
    padding: 33px 0;

    position: relative;
}

.header__menu {
    display: none;
}



#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 28px;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 23px;
    right: 28px;

    width: 44px;
    height: 37px;
    background-color: #000;

    cursor: pointer;
    z-index: 1;
}

.menu__btn>span::before {
    display: block;
    position: absolute;

    width: 17px;
    height: 2px;

    background-color: #FFFFFF;

    transition-duration: .25s;
}

.menu__btn>span {
    display: block;
    position: absolute;
    left: 13px;

    width: 17px;
    height: 2px;

    background-color: #FFFFFF;

    transition-duration: .25s;
}

.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 17px;
    height: 2px;

    background-color: #FFFFFF;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 60px;
    right: -100%;

    width: 182px;
    list-style: none;

    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
    z-index: 1;

}

.menu__item {
    display: block;
    padding: 4px 13px 2px;
    color: #4E4E4E;
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    @include text-style-400;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    text-decoration: none;

    transition-duration: .25s;

    &--colored {
        color: #57A4A4;
    }

    &:hover {
        background: #E5E5E5;
    }
}


.main__img {
    width: 100%;
  height: auto;
    position: relative;
    z-index: 0;
}

@media (min-width: 680px) {
    .hamburger-menu {
        display: none;
    }

    .header__menu {
        display: block;
    }

    .header__menu__list {
        padding: 41px 85px 43px;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    .header__menu__item {
        @include text-style-400;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 1.1px;
        text-decoration: none;
        text-transform: uppercase;
        color: #4E4E4E;
    }
}