.instagr {
    padding: 38px 0 42px;

    &__title {
        margin-bottom: 13px;
        @include text-style-700;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        color: #4E4E4E;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--right {
            display: none;
        }
    }


    &__list {
        display: flex;
        justify-content: space-around;
        column-gap: 9px;

    }

    &__item:nth-of-type(2),
    &__item:nth-of-type(3),
    &__item:nth-of-type(4) {
        display: none;
    }

    &__item__img {
        width: 100%;
        max-width: 301px;
    }
}

@media (min-width: 680px) {

    .instagr__title--right {
        display: block;
    }

    .instagr__item:nth-of-type(2),
    .instagr__item:nth-of-type(3) {
        display: block;
    }

    .instagr__item__img {
        max-width: 244px;
    }
}

@media (min-width: 768px) {

    .instagr__list {
        display: flex;
        column-gap: 9px;

    }

    .instagr__item:nth-of-type(4) {
        display: block;
    }

    .instagr__item__img {
        width: 100%;
        max-width: 285px;
    }
}