.post {
    margin-top: 38px;

    &__title {
        margin-bottom: 23px;
        @include text-style-700;
        font-size: 14px;
        line-height: 22px;
        align-items: center;
        text-transform: uppercase;
    }

    &__list {
        display: grid;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4";
        column-gap: 10px;
    }

    &__item {
        display: grid;
        grid-template-areas:
            "img"
            "discript"
            "comment";
        margin-bottom: 28px;

        &:nth-last-of-type(1) {
            grid-area: item1;
        }

        &:nth-last-of-type(2) {
            grid-area: item2;
        }

        &:nth-last-of-type(3) {
            grid-area: item3;
        }

        &:nth-last-of-type(4) {
            grid-area: item4;
        }

        &--img {
            width: 160px;
            height: 140px;
            grid-area: img;
        }

        &--discript {
            grid-area: discript;
            @include text-style-700;
            font-size: 14px;
            line-height: 30px;
            color: #4E4E4E;
        }

        &--comment {
            grid-area: comment;
            @include text-style-400;
            font-size: 11px;
            line-height: 20px;
            color: #7C7C7C;
        }

        &--addInfo {
            grid-area: addInfo;
            @include text-style-400;
            font-size: 14px;
            line-height: 26px;
            color: #5C5C5C;
            display: none;
        }
    }
}

@media (min-width: 680px) {
    .post__item {
        display: grid;
        column-gap: 21px;
        grid-template-areas:
            "img discript"
            "img comment"
            "img addInfo";
        margin-bottom: 32px;

        &--addInfo {
            display: contents;
        }
    }
}

@media (min-width: 910px) {
    .post__list {

        grid-template-areas:
            "item1 item3"
            "item2 item4";
        
    }
}